// @keyframes moveleft {
// 	0% {
// 		transform: translateX(0);
// 	}

// 	100% {
// 		transform: translateX(-6rem);
// 	}
// }

.hero-page {
	height: 100vh;
	background: white;
	color: black;
	padding: 0;
	font-family: monospace;

	.header-container {
		height: 40rem;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		padding: 0;

		&::after {
			content: "";
			background: #020101;
			opacity: 0.8;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			padding: 0;
			background-position: center;
		}

		.header {
			margin: 1rem;
			padding: 1rem;
			width: 100rem;
			height: 30rem;
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;

			.hero_image {
				img {
					height: 30rem;
					width: auto;
					border-radius: 1rem;
					border: 0.1rem solid white;
					z-index: 1;
				}
			}

			.details {
				height: 30rem;
				width: 25rem;
				color: lightgray;
				display: block;
				z-index: 10;
				font-weight: lighter;
				overflow: auto;
				position: relative;
				font-size: 1rem;
				line-height: 2.5rem;
				margin-left: 1rem;
			}

			.tabs {
				margin-top: 1rem;
				margin-right: -6rem;
				z-index: -1;

				.tab {
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 1rem;
					border: 0.1rem solid white;
					color: lightgray;
					border-top-left-radius: 100px;
					border-bottom-left-radius: 100px;
					border-right: transparentize($color: #000000, $amount: 0);
					background-color: #0d092263;
					height: 6rem;
					font-size: 1rem;
					width: 8rem;
					transition: transform 1s;

					&:hover {
						transform: translateX(-5.3rem);
						cursor: pointer;
						transition: transform 1s;
						z-index: 3;
						box-shadow: 0 2.5px 5px rgba(235, 226, 226, 0.404);
					}

					&:active {
						box-shadow: 0 2.5px 5px rgba(235, 226, 226, 0.404);
					}
				}
			}
		}
	}
}

.hidden {
	opacity: 0;
	transition: 0.5s;
}

.visible {
	display: flex;
	justify-content: center;
	opacity: 1;
	text-align: left;
	align-items: left;
	flex-direction: column;
	transition: 0.5s;
}
