.hero-page {
	height: 100vh;
	background: white;
	color: white;
	padding: 0;

	.header-container {
		height: 550px;
		display: flex;
		position: relative;
		padding: 0;

		&::after {
			content: "";
			background: #020101;
			opacity: 0.8;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			padding: 0;
			background-position: center;
		}

		.header {
			margin: 1rem;
			padding: 1rem;
			width: 100rem;
			height: 450px;
			position: relative;
			border: 1px solid white;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;

			img {
				height: 20rem;
				margin-right: .3rem;
				width: auto;
				border-radius: 1rem;
			}

			.details {
				height: 20rem;
				margin-left: .3rem;

				width: auto;
				border: 1px solid white;
				border-radius: 1rem;
				z-index: 10;
				display: block;
				font-weight: lighter;
				text-align: left;
			}
		}
	}
}
