.hero-page {
	height: 100vh;
	background: white;
	color: white;
	padding: 0;

	.header-container {
		height: 550px;
		display: flex;
		position: relative;
		padding: 0;

		&::after {
			content: "";
			background: #020101;
			opacity: 0.8;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			padding: 0;
			background-position: center;
		}

		.header {
			margin: auto;
			padding: 1rem;
			width: 100rem;
			background: transparent;
			height: 450px;
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;

			img {
				height: 20rem;
				width: auto;
				border-radius: 1rem;
			}

			.details {
				padding: 1rem;
				display: flex;
				justify-content: flex-start;
			}
		}
	}
}
